
body{
  text-align: center;
}

.section h1 {
  font-size: 6em;
  margin-bottom: 10px;
}

.section h1 section{
  visibility: hidden;
}

.section h2 span {
  font-size: 1.5em;
  padding: 0 5px;
  font-weight: lighter;
}

.section p {
  width: 50%;
  margin: 0 auto;
  font-weight: normal;
}

.section .subtit {
  font-size: 1.5em;
  margin-bottom: 10px;
  display: block;
  font-weight: lighter;
}

.slider1 h1,
.slider1 h2,
.slider1 .slider,
.fp-tableCell > img,
.fp-tableCell > h1,
.fp-tableCell > p,
#grid a,
.master,
.des,
.section4_btn {
  visibility: hidden;
}

.slider {
  margin: 0 auto;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 20%;
}

.slider p {
  width: 100%;
}

.slider img {
  margin-bottom: -3px;
  margin-left: 10px;
  display: inline-block;
  height: 20px;
}

h1.slide_title {
  width: 60%;
  margin: 20px auto;
  font-size: 4em;
  background-color: rgba(0, 0, 0, 0.5);
}

.section1 {
  background-image: url('../img/1.jpg');
  background-size: cover;
}

.section1 h1 {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.section2 {
  background-image: url('../img/2.jpg');
  background-size: cover;
}

.section3 {
  background-image: url('../img/3.jpg');
  background-size: cover;
}

.section4 img{
  display: block;
  margin: 60px auto -140px;
}

a.section4_btn{
  display: inline-block;
  height: 36px;
  padding: 0 2rem;
  line-height: 36px;
  letter-spacing: .5px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  color: #fff;
  background-color: #26a69a;
  transition: .2s ease-out;
  cursor: pointer;
  outline: 0;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.section4_btn:hover{
  background-color: #2bbbad;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.warp {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  height: 100%;
}

.master {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
}

.master img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.des {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px 0;
}

.fp-controlArrow.fp-prev {
  left: 15px;
  border: none;
  width: 40px;
  height: 80px;
  background: url(../img/left.png) center no-repeat;
  background-size: cover;
  cursor: pointer;
}
.fp-controlArrow.fp-next {
  right: 15px;
  border: none;
  width: 40px;
  height: 80px;
  background: url(../img/right.png) center no-repeat;
  background-size: cover;
  cursor: pointer;
}

@media all and (max-width:900px) {
  .section h1 {
    /*font-size: 5em;*/
  }
  .section h2 span {
    font-size: 1.2em;
  }
  .slider{
    width: 26%;
  }
  h1.slide_title{
    font-size: 3.7em;
  }
  .base img{
    width: 170px;
    height: 170px;
  }
}

@media all and (max-width:580px) {
  .section h1 {
    font-size: 3em;
  }
  .section h2 span {
    font-size: 0.6em;
  }
  .master{
    width: 140px;
    height: 140px;
  }
  .des .subtit{
    font-size: 1.1em;
  }
  .des p{
    font-size: 0.5em;
  }
  .base img{
    width: 130px;
    height: 130px;
  }
  h1.slide_title{
    font-size: 2.3em;
  }
  .base p{
    font-size: 0.5em;
  }
}

@media all and (max-width:320px){
  .section h1 {
    font-size: 2.25em;
  }
  .slider{
    width: 30%;
  }
  .master{
    width: 100px;
    height: 100px;
  }
}
